---
import ProjectSection from "../components/Projects";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-neutral-200 font-bold text-3xl">Projects</h1>
  <hr class="mt-[1.25rem] border-2 border-yellow-300 w-[2rem] rounded-sm">
  <ProjectSection client:load />
</Layout>
