---
const currentPath = Astro.url.pathname;

const links = [
  { name: "About", path: "/" },
  { name: "Resume", path: "/resume" },
  { name: "Projects", path: "/projects" },
  { name: "Contact", path: "/contact" }
];
---

<nav class="flex gap-[3rem] p-[1.25rem] px-[2.5rem] text-sm border-b w-3/5 bg-neutral-800 rounded-bl-xl float-right">
  {links.map(link => (
    <a
      href={link.path}
      class={`${
        currentPath === link.path
          ? "text-yellow-200 font-bold"
          : "text-gray-300 hover:text-yellow-200"
      }`}
    >
      {link.name}
    </a>
  ))}
</nav>
